<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to our RunApp: {{runcount}}</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
  <ion-input type="text" [(ngModel)]="toDoItem"></ion-input>
  <button ion-button (click)="addToItems()">add item</button>
  <ion-list>
    <ion-item *ngFor="let item of items" >
      {{item}}
    </ion-item>
  </ion-list>

  <!--<p>
    Terrain:
  </p>
  <ion-select>
    <ion-option *ngFor="let terrain of terrains" [value]="terrain.id" placeholder="Select terrain">
      {{terrain.description}}
    </ion-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let terrain of terrains">
      {{terrain.description}}
    </ion-item>
  </ion-list>

  <p>
    Team:
  </p>
  <ion-select>
    <ion-option *ngFor="let team of teams" [value]="team.id" placeholder="Select team">
      {{team.description}}
    </ion-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let team of teams">
      {{team.description}}
    </ion-item>
  </ion-list>-->

  <p>
    Location:
  </p>
  <ion-select>
    <ion-option *ngFor="let location of locations" [value]="location.id" placeholder="Select location">
      {{location.description}}
    </ion-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let location of locations">
      {{location.description}}
    </ion-item>
  </ion-list>
</ion-content>
