page-group-timer {

    .timer{
        font-size: 20px;
    }
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.rowColor{
    background-color: #f2f2f2;
    margin:2px;
}